<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytuj samochód</title>
</head>
<body>
<form method="post" action="#" th:object="${car}" th:action="@{/editCar}">
    <input type="hidden" th:field ="*{id}"/>
    <p>Marka:<input th:field="*{brand}" type="text"></p>
    <p>Model:<input th:field="*{model}" type="text"></p>
    <p>Kolor:<input th:field="*{colour}" type="text"></p>
    <p>Data produkcji:<input th:field="*{dateOfProduction}" type="text"></p>
    <p>Numer VIN:<input th:field="*{vin}" type="text"></p>
    <p><input type="submit"></p>
</form>

</body>
</html>