<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu główne</title>

</head>
<body>
<p><h1>MENU GŁÓWNE</h1></p>

<a href="/addCar"><p>Dodaj samochód</p></a>

<a href="/showAll"><p>Pokaż samochody</p></a>

<a href="/addRoute"><p>Dodaj trasę</p></a>

<a href="/addDriver"><p>Dodaj kierowcę</p></a>

<a href="/showAllDrivers"><p>Pokaż kierowców</p></a>


<h2>Raporty</h2>
<p><a href="showAllCars.html" th:href="@{carReport(reportId=1)}">Pojazdy marki Audi</a></p>
<p><a href="showAllCars.html" th:href="@{carReport(reportId=2)}">Pojazdy starsze niż 10 lat</a></p>
<p><a href="showAllCars.html" th:href="@{carReport(reportId=3)}">Pojazdy innej marki niż Volkswagen, Audi, Skoda, Seat</a></p>
<p><a href="showAllCars.html" th:href="@{carReport(reportId=4)}">Pojazdy marki Ferrari w kolorze czerwonym</a></p>
<p><a href="showAllCars.html" th:href="@{carReport(reportId=5)}">Pojazdy marki Ford posortowane od najnowszego</a></p>
<p><a href="showAllCars.html" th:href="@{carReport(reportId=6)}">Pojazdy marki Peugeot w kolorze innym niż srebrny</a></p>
<p><a href="showAllCars.html" th:href="@{/search}">Pojazdy o określonej marce, modelu i kolorze - wybór przez formularz</a></p>


</body>
</html>