<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowy kierowca</title>
</head>
<body>
<form method="post" action="#" th:object="${driver}" th:action="@{/addDriver}">
    <input type="hidden" th:field="*{id}">

    <p>Imię:<input th:field="*{firstName}" type="text"></p>
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Imię - ERROR!</p>


    <p>Nazwisko:<input th:field="*{lastName}" type="text"></p>
    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Nazwisko - ERROR!</p>

    <p><input type="submit"></p>

</form>
<a href="/">Powrót do MENU</a>
</body>
</html>