<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trasy przypisane do samochodu</title>
    <style>
        table, th, td {
            border: 1px solid blue;
        }
        th {
            background-color: pink;
        }
    </style>
</head>
<body>
<h1>Trasy przypisane do samochodu:</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Data i czas początku trasy</th>
        <th>Adres początkowy</th>
        <th>Data i czas zakończenia trasy</th>
        <th>Adres końcowy</th>
        <th>Odległość (KM)</th>
        <th>Planowany czas przejazdu</th>
    </tr>
    <tr th:each="route : ${routes}">
        <td th:text="${route.id}"/>
        <td th:text="${route.routeName}"/>
        <td th:text="${route.startDateTime}"/>
        <td th:text="${route.startAddress}"/>
        <td th:text="${route.endDateTime}"/>
        <td th:text="${route.endAddress}"/>
        <td th:text="${route.distance}"/>
        <td th:text="${route.travelTime}"/>
    </tr>
</table>
<br>
<a href="/">Powrót do MENU</a>
</body>
</html>