<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wszystkie trasy w bazie danych</title>
    <style>
        table, th, td {
            border: 1px solid blue;
        }
        th {
            background-color: pink;
        }
    </style>
</head>
<body>
<h1>Wszystkie trasy:</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Data i czas początku trasy</th>
        <th>Adres początkowy</th>
        <th>Data i czas zakończenia trasy</th>
        <th>Adres końcowy</th>
        <th>Odległość (KM)</th>
        <th>Planowany czas przejazdu</th>
        <th>Przypisany kierowca (id)</th>
        <th>Przypisany samochód (id)</th>
        <th>Czy została ukończona?</th>
        <th>Usuń</th>
        <th>Edytuj</th>
    </tr>
    <tr th:each="route : ${allRoutes}">
        <td th:text="${route.id}"/>
        <td th:text="${route.routeName}"/>
        <td th:text="${route.startDateTime}"/>
        <td th:text="${route.startAddress}"/>
        <td th:text="${route.endDateTime}"/>
        <td th:text="${route.endAddress}"/>
        <td th:text="${route.getDistance()}"/>
        <td th:text="${route.getTravelTime()}"/>
        <td th:text="${route.driverId}"/>
        <td th:text="${route.carId}"/>
        <td><a href="#" th:href="@{/markAsDone(routeId=${route.id})}">Tak</a></td>
        <td><a href="#" th:href="@{/deleteRoute(routeId=${route.id})}">Usuń</a></td>
        <td><a href="#" th:href="@{/submitNewRouteForm(routeId=${route.id})}">Edytuj</a></td>
    </tr>
</table>
<br>
<a href="/">powrót do MENU</a>
</body>
</html>